./* For modern browsers */
.clearfix:before,
.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {*zoom:1;}


#member-nos-tabs ul.membership-no-list {
}
#member-nos-tabs ul.membership-no-list li {
  float: left;
  width: 230px;
}